# provider identity parameters

tenancy_ocid     = "<tenancy OCID>"
user_ocid        = "<user OCID>"
fingerprint      = "<PEM key fingerprint>"
region           = "<region in which to operate, example: us-ashburn-1, eu-frankfurt-1>"
private_key_path = "<path to the private key that matches the fingerprint above>"

# general oci parameters

compartment_ocid = "<compartment OCID>"

# compute instance parameters

num_instances                       = 1
availability_domain                 = 3
instance_name                       = "Atlas"
instance_state                      = "RUNNING"
instance_shape                      = "VM.Standard.A1.Flex"
instance_ocpus                      = 4
instance_shape_config_memory_in_gbs = 24

# operating system parameters

ssh_public_keys = <<EOT
<ssh_public_key_1>
<ssh_public_key_2>
<ssh_public_key_3>
EOT

# Auto configure iptables to allow inbound traffic

auto_iptables   = false
ssh_private_key = "<path to the private key one of the public keys you have provided>"
